@charset "UTF-8";

:root {
    --cor1: #d5f4f7;
    --cor2: #79c7c5;
    --cor3: #99d19c;
    --cor4: #235C61;
    --cor5: #245c81c7;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.623);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem {
   display: block;
   background: var(--cor4) url(../imagens/img-login.jpg) no-repeat;
   height: 200px;
   background-position: center bottom;
   background-size: cover;
   border-radius: 20px 20px 0px 0px;
}

div#formulario {
    padding: 2px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: px;
}

div#formulario > p {
    padding:5px 10px 0px 10px;
    font-size: 0.8em;
    
}

div.campo {
    background-color: var(--cor2);
    border: 2px solid var(--cor5);
    display: flex;
    width: 100%;
    height:40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i{
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--cor1);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 45px);
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form {
    padding: 10px;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor4);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top:5px;
  
}
form > input[type=submit]:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    font-weight: bold;
    border: 2px solid var(--cor5);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}
form > a.botao:hover {
    color: var(--cor4);
    font-weight: bold;
    border: 2px solid var(--cor5);
}
form > a.botao > i {
    font-size:1em;
}